<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Demo MVC</title>

<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">

</head>
<body>
  <% if(message) { %>
    <script>
      alert("<%= message %>")
    </script>
  <% } %>
  <div class="top">
    <a href="/create">Thêm sản phẩm mới</a>
    <form action="/search" menthod="get" class="form-search">
      <input class="search" type="text" placeholder="Tìm kiếm ... "
      name="txtsearch" />
      <button type="submit">Search</button>
    </form>
  </div>
<div class="shell">
  <div class="container">
    <% for(let i=0;i<product.length;i++){ %>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img src=<%=product[i].hinh_anh%>
            alt="Product"
            class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="category" >
              <span><%=product[i].ten%></span>
            </div>
          </div>
          <div class="description-prod">
            <p> <%= product[i].mo_ta %> </p>
          </div>
          <div class="card-footer">
            <div class="wcf-left">
              <span class="price">
                <%= product[i].gia %>VND
              </span>
            </div>
          </div>
          <div class="card-footer">
            <div class="wcf-right">
              <a href="/detail/<%=product[i].id%>">Chi tiết</p>
            </div>
            <div class="wcf-right">
              <a href="/update/<%=product[i].id%>">Chỉnh sửa</p>
            </div>
            <div class="wcf-right">
              <a href="/delete/<%= product[i].id %>">Xóa</a>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>

</body>
</html>

